profiles {

    standard {
        process.executor = 'local'
    }

    andys_mac_mini {
        conda.enabled = false
        docker.enabled = true
        singularity.enabled = false 
        process.executor = 'local'
        process.container = 'ubuntu:latest'
        process {
            // override standard nf-core settings
            withLabel: 'process_single' {
                cpus   = { check_max( 1                  , 'cpus'    ) }
                memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h  * task.attempt, 'time'    ) }
            }
            withLabel: 'process_low' {
                cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
                memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h   * task.attempt, 'time'    ) }
            }
            withLabel: 'process_medium' {
                cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
                memory = { check_max( 8.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h   * task.attempt, 'time'    ) }
            }
            withLabel: 'process_high' {
                cpus   = { check_max(8     * task.attempt, 'cpus'    ) }
                memory = { check_max(12.GB * task.attempt, 'memory'  ) }
                time   = { check_max(16.h   * task.attempt, 'time'    ) }
            }
            withLabel: 'process_long' {
                time   = { check_max( 20.h  * task.attempt, 'time'    ) }
            }
            withLabel: 'process_high_memory' {
                memory = { check_max( 14.GB * task.attempt, 'memory' ) }
            }
            withLabel: 'amd64_only' {
                docker.runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
            }
        }
    }

}

apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'
